.app-container{
    display: flex;
}
.content{
    width: 100%;
}
.sidebar{
    min-height: 800px;
}
.post-card{
    margin: 20px 50px;
    min-width: 350px;
}

.hashtag{
    margin: 10px 3px;
    padding: 5px;
}
.createPost{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    flex-direction: column;
}
.welcome-message{
    margin: 50px 0px;
}